{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <div class = "options">
        <a class="btn btn-primary" href="{{ BASE }}user/products" role="button">Lista svih proizvoda</a>
        <a class="btn btn-success opcije" href="{{ BASE }}user/products/add" role="button">Dodaj novi proizvod</a>
    </div>

    <form class = "product-form col-12 col-sm-10 col-md-10 col-lg-8 col-xl-10" method="POST" enctype="multipart/form-data">
    <div class="card">
            <div class="card-header">
                   Uredi proizvod
                    </div>
            <div class="card-body">
        <div>
            <label for="name">Naziv proizvoda: </label>
            <input type="text" id="name" name="name" required class="form-control" value="{{ product.name|escape }}">
        </div>

        <div class="form-group">
            <label for="description">Opis: </label>
            <textarea id="description" name="description" required class="form-control" rows="3">{{ product.description|escape }}</textarea>
        </div>

        <div class="form-group">
            <label for="image">Slika: </label>
            <input type="file" id="image" name="image" accept="image/jpeg, image/png">
        </div>

        <div class="form-group">
            <label for="manufacturer_id">Proizvođač: </label>
            <select class="form-control" name="manufacturer_id" id="manufacturer_id">
                            {% for manufacturer in manufacturers %}
                            <option value="{{ manufacturer.manufacturer_id }}">
                                {{ manufacturer.name }}
                            </option>
                            {% endfor %}
                        </select>
        </div>

        <div class="form-group">
            <label for="category_id">Kategorija: </label>
            <select class="form-control" name="category_id" id="category_id">
                            {% for category in categories %}
                            <option value="{{ category.category_id }}">
                                {{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
        </div>
        <div class="form-group">
                <label for="amount">Cena proizvoda: </label>
                <input type="number" min="1" id="amount" name="amount" class="form-control" value="{{ productPrice.amount }}">
            </div>
                    
            <div class="form-group">
                <label>Vidljivost proizvoda: </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="is_active" id="is_active1">
                        <label class="form-check-label" for="is_active">Prikazi proizvod</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="is_active" id="is_active">
                        <label class="form-check-label" for="is_active">Sakrij proizvod</label>
                    </div>
                </div>
        
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                Sačuvaj izmene
            </button>
        </div>
        </div>
            </form>
        </div>

<!--
        <div class="form-controll"> 
                <label for="category_id">Kategorija: </label>
                {% for category in categories %}
                <input  type="checkbox" name="category_id[]" id="category_id" value="{{ category.category_id }}">
                {{ category.name|escape }}
                {% endfor %}        
            </div>
        -->
{% endblock %}