{% extends "_global/index.html" %}

{% block main %}
    <div class="container">
        <div class = "options opcije">
            <a class="btn btn-primary" href="{{BASE}}user/profile" role="button">Nazad na komandnu tablu</a>
            <a class="btn btn-success" href="{{ BASE }}user/products/add" role="button">Dodaj novi proizvod</a>
           <!-- <a href="{{ BASE }}user/prices"><button type="button" class="btn btn-success">Lista cena proizvoda</button></a> 
            <a href="{{ BASE }}user/producategories"><button type="button" class="btn btn-success">Lista kategorija proizvoda</button></a> -->
        </div>

    <div class = "products">
        <ul>
            {% for product in products %}
            <li>
                <a href="{{ BASE }}user/products/edit/{{ product.product_id }}">
                    {{ product.name|escape }}
                </a>         
            {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}