{% extends "_global/index.html" %}

{% block main %}
<div class="lista-proizvoda">
    <ul>
         {% for product in product %}
                <li class="col-lg-3 col-md-6 col-sm-12 col-12 kontejner-proizvoda">
                    <div class=" moj-card">

                        <div class="slika" style="background-image: url(https://cdn.pixabay.com/photo/2018/08/09/10/46/phone-3594206__340.jpg)">
                        </div>
                      

                        <div class="card-body">
                        <a href="{{ BASE }}product/{{ product.product_id }}" class = "product-title">
                            {{ product.name|escape }}
                        </a>
                            <div class = "product-desc">{{product.description}}</div>
                            <div class = "product-price">{{product_price.amount}}</div>
                            <div class="dugmici">
                                <button class="detaljnije">Detaljnije</button>
                                <button class="korpa" title="Stavi u korpu"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </li>  
                {% endfor %}
    </ul>
</div>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}