{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <div class = "options">
        <a href="{{ BASE }}user/profile" ><button type="button" class="btn btn-primary">Nazad na komandu tablu</button></a>
        <a href="{{ BASE }}user/products/add"><button type="button" class="btn btn-success">Dodaj novi proizvod</button></a>
        <a href="{{ BASE }}user/prices"><button type="button" class="btn btn-success">Lista svih cena proizvoda</button></a>
    </div>

    <form class = "price-form" method="POST" 
    class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
    <div class="card">
        <div class="card-header">
            Dodaj cenu proizvoda
        </div>
        <div class="card-body">
                <div class="form-group">
                        <label for="product_id">Proizvod: </label>
                        <select class="form-control" name="product_id" id="product_id">
                                        {% for product in products %}
                                        <option value="{{ product.product_id }}">
                                            {{ product.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                </div>
            <div>
                <label for="amount">Cena proizvoda: </label>
                <input type="number" min="1" id="amount" name="amount" required class="form-control" value="{{ product_price.amount }}">
            </div>
            
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Sačuvaj izmene
            </button>
        </div>
    </form>
</div>
{% endblock %}